.application-page {
    width: 100%;
    flex: 1;
    color: #23282b;
}

.application-top {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    margin: 30px 0px;
}
.application-content {
    width: 100%;
    min-height: 500px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 35px 35px;
    .application-card {
        width: 94%;
        height: 120px;
        border-radius: 7px;
        background-image: url('../../assets/images/bg_home-card.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 30px 25px;
        padding-left: 30px;
    }
    .create-application-icon {
        width: 40px;
        height: 40px;
        background-image: url('../../assets/images/icon_add.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .application-name {
        font-size: 14px;
        font-weight: 400;
        color: #23282b;
        line-height: 24px;
    }
    .application-status {
        width: 45px;
        height: 16px;
        background-color: #f43b3a;
        color: #fff;
        font-size: 8px;
        border-radius: 8px;
    }
    .application-validity {
        font-size: 8px;
        color: #999999;
    }
    .create-application {
        color: #29b6b0;
        cursor: pointer;
    }
}
