.applicationCenter-icon {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/application-icon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.applicationCenter-menuItem-icon {
}
.application-page {
    width: 100%;
    height: 100%;
    .ant-form-item-label {
        display: flex !important;
        align-items: center !important;
        justify-content: flex-end !important;
    }
}
.applicationCenter-openCoins {
    .header-button {
        position: absolute;
        right: 40px;
        top: 40px;
        width: 80px;
    }
}
.coin-option-item {
    color: #6c6c6c;
}
.applicationCenter-callbackManagement {
    .search-bar {
        position: relative;
    }
    .search-options {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}
.applicationCenter-common-header {
    padding: 40px;
    position: relative;
}
