@font-face {
    font-family: 'iconfont'; /* Project id 2769473 */
    src: url('//at.alicdn.com/t/font_2769473_vzsols6gos.woff2?t=1629931510449') format('woff2'), url('//at.alicdn.com/t/font_2769473_vzsols6gos.woff?t=1629931510449') format('woff'), url('//at.alicdn.com/t/font_2769473_vzsols6gos.ttf?t=1629931510449') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
    content: '\e601';
}

.button-add-1 {
    display: flex;
    justify-content: flex-end;
}

.button-copy {
    width: 38px;
    height: 35px;
    cursor: pointer;
    margin: 0px 15px;
    color: #29b6b0;
    background-color: #eaf8f7;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
.button-tip {
    display: inline-block;
    width: 27px;
    height: 25px;
    background-image: url('../assets/images/icon-tip.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px 10px;
    min-width: 27px;
}
