.common-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.common-page-body {
    flex: 1;
    display: flex;
    width: 100%;
}
.common-page-side {
    background-color: #fff;
    height: 100%;
    width: 20%;
}
.common-page-content {
    background-color: #fff;
    width: 79%;
    margin-left: 1%;
    height: 100%;
    overflow: auto;
}
.common-page-content ::-webkit-scrollbar {
    display: none;
}
.common-page-side-icon {
    margin-top: 70px;
    .side-icon {
        min-width: 50px;
        min-height: 50px;
        margin-bottom: 10px;
    }
    .side-icon-text {
        font-size: 17px;
        font-weight: 600;
        color: rgb(45, 55, 72);
    }
}
.common-page-side-item {
    height: 60px;
    font-size: 16px;
}
.common-page-menu-item {
    padding-right: 10px;
}
.common-page-icon {
    span {
        font-size: 20px !important;
    }
    margin-top: 3px;
    margin-right: 10px;
}
.icon-vbg {
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: rgb(255, 193, 7);
    background-color: rgb(255, 248, 225);
    border-radius: 20px;
}

.icon-vbg-green {
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: rgb(76, 175, 80);
    background-color: rgb(232, 245, 233);
    border-radius: 20px;
}
